body{
    color:cadetblue;
    font-size: arial;
    max-width:700px;
    margin:0 auto;
    padding:0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content{
    flex-grow: 1;
}

footer{
    color:darkgrey;
    border-top: 1px solid black;
    margin-top:16px;
    padding:16px 0;
}
header{
    margin-top:16px;
    margin-bottom:48px;
}
h1{
    font-size:45px;
    margin-bottom: 16px;
}

header a{
    color:burlywood;
    margin-right:16px;
    text-decoration: none;
}

.portrait{
    width:200px;
    height:300px
}

input{
    border:1px solid gray;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid black;
    background: #888888;
    color:white;
    padding:8px
}